/* Подключение шрифтов */
@import 'https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic';
body {
    background-image: url(../images/background.png);
    margin: 0;
    font-family: 'Open Sans';
}
#container {
    max-width: 978px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.2);
}
/* Контактная информация */
#contacts {
    text-align: center;
}
#contacts > div {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    white-space: nowrap; /* Запрет переноса */
}
#contacts > div > a {
    color: #fff;
    text-decoration: none;
}
#contacts > div img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    padding-right: 10px;
}
/* Адреса */
#addresses {
    width: 100%;
}
#addresses > div {
    float: left;
    width: 50%;
}
#addresses > div > div {
    float: left;
    width: 50%;
}
#addresses img {
    width: 100%
}
#addresses > div > div > div > a {
    top: 5px;
}
/* Социальные сети */


/* Бронирование */


/* Слайдер */


/* Подвал */
footer {
    max-width: 978px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.1);
    height: 100px;
}