body
{
    background: url('../Resources/mainfon.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
/*
#myfooter
{
    background-image: url('../Resources/footer.png');
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
}
*/
.onefourth
{
    width: 25%;
    float: left;
}
.addresspic, .addresshalfpic
{
    margin: 0 2%;
    width: 96%;
}
.halfonefourth a
{
    display: block;
    line-height: 0;
}
#slider
{
    position: relative;
    /*background-color: red;*/
    margin-top: 70px;
    z-index: 20;
    height: 30%;
}
#addresstable
{
    overflow: hidden;
    max-width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#refstable
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
#bookcell
{
    padding: 20px;
}
#slidertable
{
    max-width: 460px;
    /*background-color: blue;*/
    margin-left: auto;
    margin-right: auto;
}
.arrows, .addresspic, .addresshalfpic
{
    opacity: 0.9;
}
.arrows:hover, .addresspic:hover, .addresshalfpic:hover
{
    opacity: 1;
}
.opel
{
    opacity: 0.9;
}
.opel:hover
{
    opacity: 1;
}
/*
#logoImg
{
    width: 100%;
    position: relative;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 30;
}*/
.arrows
{
    vertical-align: middle;
    margin-top: 160%;
    position: relative;
    padding: 0;
    height: 30%;
    width: 100%;
}
#newslider
{
  /*  background-color:blue;*/
    position: relative;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    margin-bottom: 50px;
    display: block;
    overflow: hidden;
}
.arrowsDiv
{
    position: relative;
    height: 100%;
    /*background-color:red;*/
    width: 15%;
    display: block;
    float: left;
}
#sliderDiv
{
    display: block;
    width: 70%;
    height: 100%;
    float: left;
    /*background-color:green;*/
}
#logoImg
{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 30;
}
#footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    background: #1E1927;
    color: black;
    width: 100%;
    z-index: 100;
}
#phoneref:link, #phoneref:visited, #phoneref:active
{
}
#contacts
{
    height: 20%;
    text-align: center;
}
.contimg
{
    width: 20px;
    height: 20px;
}
.contactsref:link, .contactsref:visited, .contactsref:active
{
    opacity: 0.9;
    color: white;
    font-size: 22px;
    position: relative;
    margin-bottom: 20%;
    text-align: center;
    width: 100%;
}
#refsdiv
{
    width: 50%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;

}
#refsimage1
{
    opacity: 0.9;
    position: relative;
    width: 8%;
    height: 8%;
    padding: 0;
}
#refsimage2
{
    opacity: 0.9;
    position: relative;
    padding: 0;
    width: 8%;
    height: 8%;
}
#refsimage3
{
    margin-top: 2%;
    opacity: 0.9;
    position: relative;
    width: 10%;
    height: 10%;
 }
#refsimage1:hover, #refsimage2:hover, #refsimage3:hover
{
    opacity: 1;
}
#refsimage4
{
    opacity: 1;
    position: relative;
    width: 20%;
    height: 20%;
    margin-top: 1%;
}
a {
    text-decoration: none;
}
.nana
{
    text-align: center;
}
#thinborder
{
    background-color: white;
    height: 3px;
    min-width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: 2%;
}
.linktext
{
    position: relative;
    color: white;
    min-height: 10%;
    font-size: 1.5vw;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman';
}
.linkref:link, .linkref:active, .linkref:visited
{
    margin: 0;
    position: relative;
    padding: 0;
    color: white;
    min-height: 10%;
    font-size: 1.5vw;
    text-decoration: none;
    font-family: 'Times New Roman';
}
#linkdiv
{
    position: relative;
    width: 50%;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}